.vscode
assembler/.vscode
emulator/.vscode
lc3as/.vscode
assembler/src/*.o
emulator/src/*.o
lc3as/src/*.o
lc3as/*.asm
lc3as/*.obj
lc3as/*.dmp
test/test
test/src/*.o
test/*.obj
test/*.dmp
assembler/assembler.a
emulator/emulator.a
lc3sim-gtk/src/*.o
lc3sim-gtk/.vscode
lc3sim-gtk/lc3sim-gtk
lc3sim-gtk/*.obj
lc3sim-gtk/*.dmp
lc3sim-gtk/res_out/*.c
lc3sim-gtk/res_out/*.o
